<ion-header class="bar-positive">
  <ion-navbar>
    <ion-title>
      Per Diem Detail
    </ion-title>

    <ion-buttons end>
      <settings-popover></settings-popover>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>

  <!--<ion-item>-->
    <!--<h1>{{perDiem.city}}, {{perDiem.abbr}}</h1>-->
    <!--<h2>Lodging: <strong>${{perDiem.lodging}}</strong></h2>-->
    <!--<h2>Meals: <strong>${{perDiem.mie}}</strong></h2>-->
    <!--<ion-icon [name]="perDiem.saved ? 'star' : 'star-outline'" bright item-right (click)="toggleSaved(perDiem)"></ion-icon>-->
  <!--</ion-item>-->

  <ion-item>
    <h1>Per Diem</h1>

    <h3 class="subtitle">City</h3>
    <h2>{{perDiem.city}}, {{perDiem.abbr}}</h2>

    <h3 class="subtitle">Rates</h3>
    <h2>Lodging: <strong>${{perDiem.lodging}}</strong></h2>
    <h2>Meals: <strong>${{perDiem.mie}}</strong></h2>
    <h2>Total: <strong>${{perDiem.mie + perDiem.lodging}}</strong></h2>

    <h3 class="subtitle">Season</h3>
    <h2 *ngIf="perDiem.seasonBegin">Season Begin: <strong>{{perDiem.seasonBegin | date: 'dd/MM/yyyy' }}</strong></h2>
    <h2 *ngIf="perDiem.seasonBegin">Season End: <strong>{{perDiem.seasonEnd | date: 'dd/MM/yyyy' }}</strong></h2>
    <h2 *ngIf="!perDiem.seasonBegin"><em>This is a year-long rate.</em></h2>


    <ion-icon [name]="perDiem.saved ? 'star' : 'star-outline'" bright item-right (click)="toggleSaved(perDiem)"></ion-icon>
  </ion-item>

  <ion-item>
    <h3>
      <ion-icon danger name="alert"></ion-icon>
      <em>{{betterDealMessage()}}</em>
    </h3>
  </ion-item>

  <!--<map [hidden]="!perDiem.latitude || !perDiem.longitude" [lat]="perDiem.latitude" [long]="perDiem.longitude"></map>-->

  <!--<div style="text-align: center; margin-top: 1em;">-->
    <!--<button (click)="searchFlights({ destination: perDiem.city })">Flights to {{perDiem.city}}</button>-->
  <!--</div>-->

  <ion-list inset>

    <ion-list-header>
      Flights
    </ion-list-header>

    <ion-item *ngIf="!flights || !flights.length">
      <p>No flights within {{settingsService.range}} miles</p>
    </ion-item>

    <ion-item *ngFor="let flight of flights" (click)="searchFlights(flight)">

      <ion-icon name="arrow-dropright" secondary item-right></ion-icon>

      <!--<ion-grid>-->

        <ion-row>
          <ion-col>
            <h2>{{flight.name}}, {{flight.abbr || flight.country}}</h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <p *ngIf="flight.distance < .1">here</p>
            <p *ngIf="flight.distance > .1">{{toFixed(flight.distance)}} mi</p>
          </ion-col>
          <ion-col>
            <p>{{flight.flights}} flight{{flight.flights === 1 ? '' : 's'}}</p>
          </ion-col>
        </ion-row>

      <!--</ion-grid>-->

    </ion-item>
  </ion-list>

  <span></span>

  <ion-list inset>

    <ion-list-header>
      Nearby Cities
    </ion-list-header>

    <ion-item *ngIf="!nearby || !nearby.length">
      <p>No other per diem rates within {{settingsService.range}} miles</p>
    </ion-item>

    <ion-item *ngFor="let other of nearby" (click)="selectCity(other)">

      <ion-icon name="arrow-dropright" secondary item-right></ion-icon>

      <!--<ion-grid>-->

        <ion-row>
          <ion-col>
            <h2 style="font-size: 1.8rem;" [style.fontWeight]="other.betterDeal ? 'bolder' : 'normal'">{{other.city}}, {{other.abbr}}</h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col><p>Lodging:</p></ion-col>
          <ion-col><p>${{other.lodging}}</p></ion-col>
          <ion-col><p><span [style.color]="other.difference.lodging.color">{{other.difference.lodging.value}}</span></p></ion-col>
        </ion-row>

        <ion-row>
          <ion-col><p>Meals: </p></ion-col>
          <ion-col><p>${{other.mie}} </p></ion-col>
          <ion-col><p><span [style.color]="other.difference.mie.color">{{other.difference.mie.value}}</span></p></ion-col>
        </ion-row>

        <ion-row>
          <ion-col><p>Total:</p></ion-col>
          <ion-col><p>${{other.mie+other.lodging}}</p></ion-col>
          <ion-col><p><span [style.color]="other.difference.total.color">{{other.difference.total.value}}</span></p></ion-col>
        </ion-row>

        <ion-row>
          <ion-col><p>Distance:</p></ion-col>
          <ion-col><p>{{toFixed(other.distance)}} mi</p></ion-col>
          <ion-col><p></p></ion-col>
        </ion-row>

      <!--</ion-grid>-->
    </ion-item>

  </ion-list>

</ion-content>
