<ion-header>
  <ion-navbar>
    <ion-title>GottaFlyFed</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">

  <ion-card>
    <ion-card-header>Per Diem Rates</ion-card-header>
    <ion-list>
      <ion-item *ngIf="cities.length === 0">
        You don't have any saved per-diem cities.
      </ion-item>
      <ion-item *ngFor="let city of cities" (click)="selectCity(city)">
        <h2>{{city.city}}, {{city.state}}</h2>
        <p>Lodging: {{city.lodgingRate}}</p>
        <p>Meals: {{city.mie}}</p>
        <ion-icon bright name="close" item-right (click)="unsaveCity($event, city)"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>Flights</ion-card-header>
    <ion-list>
      <ion-item *ngIf="flights.length === 0">
        You don't have any saved flights.
      </ion-item>
      <ion-item *ngFor="let flight of flights" (click)="selectFlight(flight)">
        <h2>{{flight.originCityName}} ({{flight.originAirportLocation}}) to {{flight.destinationCityName}} ({{flight.destinationAirportLocation}})</h2>
        <p>YCA Fare: {{flight.ycaFare}}</p>
        <p>XCA Fare: {{flight.xcaFare}}</p>
        <ion-icon bright name="close" item-right (click)="unsaveFlight($event, flight)"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
